body {
  background-color : powderblue;
}
hr{
  border-style: dashed none none none;
  background-color: powderblue;
  border-color: grey;
  border-width: 5px;
  height: 0px;
  width: 5%;
}
h3{
  color: #066163;
}
